/*░░░░░░░░░░░░░░░░░░░░░░░░

  STYLE DIRECTORY

    _

  ░░░░░░░░░░░░░░░░░░░░░░░░*/

//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
div.magic8 {
    position: relative;
    overflow: visible;
    &.open {
        ul.magic8 {
            display: block;
        }
    }
    ul.magic8 {
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 5;
        background-color: #ffffff;
        box-sizing: border-box;
        list-style-type: none;
        max-height: 200px;
        overflow-y: auto;
        li {
            display: none;
            &.show {
                display: block;
            }
            &.hovered{
                background-color: #F8F9F9;
                cursor: pointer;
            }
        }
    }
}
