/*░░░░░░░░░░░░░░░░░░░░░░░░

  STYLE DIRECTORY

    _

  ░░░░░░░░░░░░░░░░░░░░░░░░*/

//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
div.magic8 {
    position: relative;
    overflow: visible;
    &.open {
        input.magic8 {
            border-bottom: none;
            border-color: #09BCD3;
        }
        ul.magic8 {
            display: block;
        }
    }
    input.magic8 {

    }
    ul.magic8 {
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 5;
        background-color: #ffffff;
        border-right: solid 1px #09BCD3;
        border-bottom: solid 1px #09BCD3;
        border-left: solid 1px #09BCD3;
        box-sizing: border-box;
        list-style-type: none;
        li {
            display: none;
            padding: 15px;
            &.hovered{
                background-color: #F8F9F9;
                cursor: pointer;
            }
            &.show {
                display: block;
            }
        }
    }
}
