@charset "UTF-8";
/*░░░░░░░░░░░░░░░░░░░░░░░░

  STYLE DIRECTORY

    _

  ░░░░░░░░░░░░░░░░░░░░░░░░*/
div.magic8 {
  position: relative;
  overflow: visible; }
  div.magic8.open ul.magic8 {
    display: block; }
  div.magic8 ul.magic8 {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 5;
    background-color: #ffffff;
    box-sizing: border-box;
    list-style-type: none;
    max-height: 200px;
    overflow-y: auto; }
    div.magic8 ul.magic8 li {
      display: none; }
      div.magic8 ul.magic8 li.show {
        display: block; }
      div.magic8 ul.magic8 li.hovered {
        background-color: #F8F9F9;
        cursor: pointer; }
